* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Paleta de cores */
    --primary-light: #4C9AF5;
    --primary-color: #2879D7;
    --primary-dark: #0D5CB8;
    --background: #E4F1FF;

    --white: #FFFFFF;
    --border-primary: #E6E6E6;
    --text-secundary: #637588;
    --black: #000000;

    /* Paleta do Gradiente */
    --back-light: #F0F7FF;
    --back-dark: #A8C4E5;

    /* Typografia / Fontes */
    --font-inter: "Inter", Arial, sans-serif;
    --small: 1.1rem;
    --large: 2rem;
    --Xlarge: 3rem;
}

body {
    height: 100%;
    font-family: var(--font-inter);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Começo do Estilo */
main {
    position: relative;
    margin: 0 auto;
    height: 100dvh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, var(--back-dark), var(--back-light));
    justify-content: center;
}

.img-container {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 1380px;
    top: 0;
    left: 0;
    /* background-color: #6375887c; */
}

.img-container .back-image {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

/* Estilo da direita Formulário */
.form-container {
    position: absolute;
    z-index: 8;
    width: 720px;
    height: 900px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 18px;
    box-shadow: 4px 4px 12px #00000020;
}

.form-content {
    width: 620px;
    padding: 8px 12px;
}

.form-content .logo-text {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 0 8px;
    width: 100%;
    margin-bottom: 24px;
}

.form-content .logo-text > img {
    width: 60px;
}

.form-content .logo-text > h2 {
    font-size: var(--large);
    font-weight: 600;
}

.form-content .headline {
    width: 100%;
    margin-bottom: 54px;
}

.form-content .headline>h1 {
    font-size: var(--Xlarge);
    margin-bottom: 14px;
}

.form-content .headline>p {
    font-size: var(--small);
    color: var(--text-secundary);
    max-width: 420px;
}

.form-content form {
    display: flex;
    flex-flow: column nowrap;
}

form .input-wrapper {
    position: relative;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 34px;
}

form .text-label {
    font-size: var(--small);
}

form .input-wrapper .custom-input {
    width: 100%;
    padding: 10px;
    height: 60px;
    padding-right: 40px; /* IMPORTANTE: Espaço extra na direita para o texto não ficar embaixo do ícone */
    padding-left: 16px;
    border: 1px solid var(--text-secundary);
    border-radius: 12px;
    font-size: 16px
}

.input-icon {
    position: absolute;
    right: 16px;
    top: 50%; /* Empurra 50% para baixo */
    transform: translateY(-50%); /* Puxa 50% do próprio tamanho para cima (centralização vertical perfeita) */
    pointer-events: none; /* O clique passa através do ícone e foca no input */
}

/* Esilo do icone de olho no input */
/* Botão invisível que segura os ícones */
.toggle-password {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
}

.hide {
    display: none;
}

input[type='password']::-ms-reveal {
    display: none;
}
/* Fim do estilo do icone de olho */

form .submit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px 0;
}

form .submit-box>p {
    color: var(--text-secundary);
    font-size: var(--small);
}

form .submit-box>p>a {
    color: var(--primary-color);
}

form .submit-box>p>a:hover {
    color: var(--primary-dark);
}

form .submit-box>p>a:active {
    color: var(--primary-light);
}

.cta-button {
    width: 100%;
    padding: 20px 10px;
    border-radius: 12px;
    border: none;
    background-color: var(--primary-color);
    font-size: var(--small);
    color: var(--white);
    transition-duration: 0.3s;
}

.cta-button:hover {
    background-color: var(--primary-dark);
}
/* Fim do estilo da direita Formulário */

@media screen and (max-width: 1200px) {
    .img-container .back-image {
        top: -180px;
        left: 0px;
    }
}
@media screen and (max-width: 992px) {
    .img-container {
        display: none;
    }
}
@media screen and (max-width: 762px) {
    main {
        background: none;
    }
    .form-container {
        width: 100%;
        height: 100dvh;
        border-radius: 0;
        box-shadow: none;
    }
    .form-content .logo-text {
        margin-bottom: 18px;
    }
    
    .form-content .logo-text > img {
        width: 38px;
    }

    .form-content .logo-text > h2 {
        font-size: 1.4rem;
    }

    .form-content .headline {
        margin-bottom: 36px;
    }

    .form-content .headline > h1 {
        font-size: var(--large);
    }

    .form-content .headline > p {
        font-size: 16px;
    }

    form .input-wrapper {
        margin-bottom: 22px;
    }

    form .text-label {
        font-size: 16px;
    }

    form .submit-box {
        gap: 22px 0;
    }
    form .submit-box > p {
        font-size: 16px;
    }
}