* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Paleta de cores */
    --primary-light: #4C9AF5;
    --primary-color: #2879D7;
    --primary-dark: #0D5CB8;
    --background: #E4F1FF;

    --white: #FFFFFF;
    --border-primary: #E6E6E6;
    --text-secundary: #637588;
    --black: #000000;

    /* Paleta do Gradiente */
    --back-light: #F0F7FF;
    --back-dark: #A8C4E5;

    /* Typografia / Fontes */
    --font-inter: "Inter", Arial, sans-serif;
    --small: 1.2rem;
    --large: 2.2rem;
    --Xlarge: 3rem;
}

body {
    height: 100%;
    font-family: var(--font-inter);
}

a {
    text-decoration: none;
}
img {
    width: 100%;
}

/* Começo do Estilo */
main {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.image-content {
    position: relative;
    background-color: var(--back-dark);
    min-width: 50%;
    height: 100dvh;
    border-radius: 0 150px 150px 0;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-content .vetor {
    position: absolute;
}